	/* фон документа */

body		{background: #fff}
a:link, a:visited	{color: #000;}

	/* переключалка стилей */

a.s1 {font-size: 0pt; width: 0px; display: none; height: 0px;}

a.s2 {font-size: 22pt; width: 100%; height: 100%;}


	/* заголовок */

p.top {font-size: 48pt;}

	/* меню */

td.menu table table td a, td.styl a {font-size: 22pt;}

	/* основная информация */

td.main p.s1 {font-size: 30pt;}
td.main p.s2 {font-size: 26pt;}
td.main p.s3 {font-size: 22pt; text-align: left; line-height: 1.5;}
td.main table td {font-size: 22pt;}
td.main table th {font-size: 30pt;}
td.main img {padding: 0; width: 0%;}
