	/* фон документа */

body		{background: #d6f1fe}
a:link, a:visited	{color: #00c;}

	/* переключалка стилей */

a.s1 {font-size: 11pt; width: 100%;height: 100%;}

a.s2 {font-size: 0pt; width: 0px; display: none; height: 0px;}


	/* заголовок */

p.top {font-size: 24pt;}

	/* меню */

td.menu {background: #d6f1fe url(../pic/f1.jpg) 100% 0% no-repeat; background-size: 750 auto; background-attachment: local;}
td.menu table table td, td.styl {background: url(../pic/fb.png) 50% 50% no-repeat;}
td.menu table table td a, td.styl a {font-size: 11pt;}

	/* основная информация */

td.main {background: #d6f1fe url(../pic/f2.jpg) 0% 0% no-repeat; background-size: 150 auto; background-attachment: local;}
td.main p.s1 {font-size: 15pt;}
td.main p.s2 {font-size: 13pt;}
td.main p.s3 {font-size: 11pt; text-align: justify;}
td.main table td {font-size: 11pt;}
td.main table th {font-size: 13pt;}
td.main img.p1 {padding: 15; width: 250;}
td.main img.p2 {padding: 0; width: 750;}
